name: Hello World

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: [ "Alice", "Bob", "Charlie" ]
    environment:
      name: ${{ matrix.name }}
    steps:
      - name: Say Hello
        run: |
          echo "Hello ${{ matrix.name }}"
          source .github/workflows/t.env
